@import "../css/pe-icon-7-stroke.css";
@import "../css/fontello-embedded.css";

@font-face {
    font-family: 'BIGJOHN';
    src: url('../fonts/BIGJOHN.eot');
    src: url('../fonts/BIGJOHN.eot') format('embedded-opentype'),
         url('../fonts/BIGJOHN.woff2') format('woff2'),
         url('../fonts/BIGJOHN.woff') format('woff'),
         url('../fonts/BIGJOHN.ttf') format('truetype'),
         url('../fonts/BIGJOHN.svg#BIGJOHN') format('svg');
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSansBold.eot');
    src: url('../fonts/OpenSansBold.eot') format('embedded-opentype'),
         url('../fonts/OpenSansBold.woff2') format('woff2'),
         url('../fonts/OpenSansBold.woff') format('woff'),
         url('../fonts/OpenSansBold.ttf') format('truetype'),
         url('../fonts/OpenSansBold.svg#OpenSansBold') format('svg');
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSansRegular.eot');
    src: url('../fonts/OpenSansRegular.eot') format('embedded-opentype'),
         url('../fonts/OpenSansRegular.woff2') format('woff2'),
         url('../fonts/OpenSansRegular.woff') format('woff'),
         url('../fonts/OpenSansRegular.ttf') format('truetype'),
         url('../fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}

@font-face {
    font-family: 'SourceSansProBlack';
    src: url('../fonts/SourceSansProBlack.eot');
    src: url('../fonts/SourceSansProBlack.eot') format('embedded-opentype'),
         url('../fonts/SourceSansProBlack.woff2') format('woff2'),
         url('../fonts/SourceSansProBlack.woff') format('woff'),
         url('../fonts/SourceSansProBlack.ttf') format('truetype'),
         url('../fonts/SourceSansProBlack.svg#SourceSansProBlack') format('svg');
}

@font-face {
    font-family: 'SourceSansProLight';
    src: url('../fonts/SourceSansProLight.eot');
    src: url('../fonts/SourceSansProLight.eot') format('embedded-opentype'),
         url('../fonts/SourceSansProLight.woff2') format('woff2'),
         url('../fonts/SourceSansProLight.woff') format('woff'),
         url('../fonts/SourceSansProLight.ttf') format('truetype'),
         url('../fonts/SourceSansProLight.svg#SourceSansProLight') format('svg');
}

