@import url(../css/bootstrap.min.css);
@import url(../css/css-reset.css);
@import url(../css/owl.carousel.css);
@import url(../css/fonts.css);
.main-font, header .navbar .nav-item .nav-link,
.subtitle {
  font-family: OpenSansRegular, Arial, sans-serif;
  color: #81868e;
  font-size: 14px;
  line-height: 24px; }

.subtitle {
  text-align: center;
  max-width: 470px;
  margin: auto auto 60px auto;
  letter-spacing: 1px; }

.content-title {
  color: #464646;
  font-family: OpenSansRegular, Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 40px;
  text-transform: capitalize; }

.main-font strong, header .navbar .nav-item .nav-link strong {
  font-family: OpenSansBold, Arial, sans-serif;
  font-size: 14px;
  color: #636971; }

.main-font .green, header .navbar .nav-item .nav-link .green {
  color: #19bd9a; }

.title {
  font-family: SourceSansProLight, Arial, sans-serif;
  color: #333b46;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
  font-size: 20px;
  letter-spacing: 3px; }

.custom-btn {
  display: block;
  float: left;
  font-family: OpenSansRegular, Arial, sans-serif;
  font-size: 16px;
  color: #333b46;
  padding: 10px 30px;
  text-transform: capitalize;
  border: 1px solid #333b46;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  margin: 60px 0 20px 0; }

.style-cst-icon {
  color: white;
  font-size: 30px;
  display: flex;
  height: 55px;
  width: 55px;
  margin: auto;
  background-color: #81868e;
  border-radius: 50%;
  justify-content: center;
  align-items: center; }
  .style-cst-icon:hover {
    color: white; }

.style-cst-icon.active {
  background-color: #19bd9a; }

.navbar-brand {
  text-transform: uppercase;
  font-size: 25px;
  font-family: BIGJOHN, Arial, sans-serif; }

header {
  padding: 0.1px;
  background: url("../images/header-bg.jpg") no-repeat center center;
  background-size: cover; }
  header .navbar-expand-md .navbar-collapse {
    justify-content: flex-end; }
  header .navbar-toggler-icon {
    outline: none; }
  @media screen and (max-width: 767px) {
    header .navbar-nav {
      margin-top: 15px; } }
  header .navbar .nav-item {
    padding: 0 10px;
    border-radius: 25px;
    border: 1px solid transparent; }
    @media screen and (max-width: 992px) {
      header .navbar .nav-item {
        padding: 0 6px;
        text-align: center; } }
    header .navbar .nav-item .nav-link {
      font-size: 16px;
      color: white;
      text-transform: capitalize; }
      header .navbar .nav-item .nav-link:hover {
        color: white;
        text-shadow: white 0 0 3px; }
  header .navbar .nav-item.active {
    border: 1px solid white; }
  header .title {
    font-size: 35px;
    color: white;
    margin-top: 220px; }
  header .subtitle {
    font-size: 16px;
    color: white;
    max-width: 600px;
    margin: auto auto 220px auto; }
  header .pe-7s-angle-down {
    margin-bottom: 80px;
    height: 40px;
    width: 40px;
    background-color: #19bd9a; }

.bouncy {
  padding: 80px 0 100px 0; }
  .bouncy .ipad {
    background: url("../images/ipad.png") no-repeat center center;
    background-size: contain;
    height: 350px; }
  .bouncy .content {
    padding-top: 40px; }
    .bouncy .content .title {
      text-align: left; }
    .bouncy .content .main-font, .bouncy .content header .navbar .nav-item .nav-link, header .navbar .nav-item .bouncy .content .nav-link {
      text-align: justify; }

.about {
  background-color: #f3f3f3;
  padding: 80px 0 100px 0; }
  .about .icons-menu {
    display: flex;
    justify-content: center; }
    .about .icons-menu li {
      margin: 0 10px 60px 10px; }
  .about .main-font, .about header .navbar .nav-item .nav-link, header .navbar .nav-item .about .nav-link {
    margin-bottom: 15px; }
  .about .main-font.left-side, .about header .navbar .nav-item .left-side.nav-link, header .navbar .nav-item .about .left-side.nav-link {
    font-size: 16px; }

/*# sourceMappingURL=style.css.map */
