@import "../css/bootstrap.min.css";
@import "../css/css-reset.css";
@import "../css/owl.carousel.css";
@import "../css/fonts.css";

$green: #19bd9a;
$paddings: 80px 0 100px 0;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

.main-font,
.subtitle {
  font-family: OpenSansRegular, Arial, sans-serif;
  color: #81868e;
  font-size: 14px;
}

.subtitle {
  text-align: center;
  margin-bottom: 60px;
}

.main-font strong {
  font-family: OpenSansBold, Arial, sans-serif;
  font-size: 14px;
  color: #636971;
}

.main-font .green {
  color: $green;
}

.title {
  font-family: SourceSansProLight, Arial, sans-serif;
  color: #333b46;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
  font-size: 20px;
}

.navbar-brand {
  text-transform: uppercase;
  font-size: 25px;
  font-family: BIGJOHN, Arial, sans-serif;
}

header {
  padding: 0.1px;
  background: url("../images/header-bg.jpg") no-repeat center center;
  background-size: cover;

  .navbar-expand-md .navbar-collapse {
    justify-content: flex-end;
  }

  .navbar-toggler-icon {
    outline: none;
  }

  .navbar-nav {
    @include max-screen(767px) {
      margin-top: 15px;
    }
  }
  .navbar .nav-item  {
    padding: 3px 10px;
    @include max-screen(992px) {
      padding: 3px 6px;
      text-align: center;
    }
    border-radius: 25px;
    border: 1px solid transparent;
    .nav-link {
      @extend .main-font;
      font-size: 16px;
      color: white;
      text-transform: capitalize;
      &:hover {
        color: white;
        text-shadow: white 0 0 3px;
      }
    }

  }
  .navbar .nav-item.active {
    border: 1px solid white;
  }
  .title {
    font-size: 35px;
    color: white;
    margin-top: 220px;
  }
  .subtitle {
    font-size: 16px;
    color: white;
    max-width: 600px;
    margin: auto auto 220px auto;
  }
  .pe-7s-angle-down {
    color: white;
    font-size: 30px;
    display: flex;
    height: 40px;
    width: 40px;
    margin: auto auto 80px auto;
    background-color: $green;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
  }
}